<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
    <title>Amethist Menu Demo</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material@beta"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <!-- demo root element -->
    <div id="demo">
        <div style="max-width:500px;">
            <md-app md-waterfall md-mode="fixed">
                <md-app-toolbar class="md-primary">
                    <md-field md-clearable>
                        <md-input v-model="searchString" placeholder="Търсете в артикулите"></md-input>
                    </md-field>
                </md-app-toolbar>

                <md-app-content v-cloak>

                    <md-card v-for="(article,index) in filteredArticles" :key="index" v-on:click.native="toggleActive(article)" v-bind:class="{ 'active': !article.gsx$active.$t}"
                        md-with-hover>
                        <img v-bind:src="article.gsx$image.$t" />
                        <md-card-header>
                            <div class="md-title">
                                <span>{{ article.gsx$title.$t }}</span>
                            </div>
                        </md-card-header>

                        <md-card-content>
                            <p>Описание: {{ article.gsx$description.$t }}</p>
                            <p>Тегло: {{ article.gsx$weigth.$t }} гр.</p>
                            <p>Цена: {{ article.gsx$price.$t }} {{ article.gsx$currency.$t }}</p>
                        </md-card-content>
                    </md-card>

                </md-app-content>
            </md-app>
        </div>

    </div>

    <script>
        Vue.use(VueMaterial.default);

        Vue.filter('currency', function (value) {
            return '$' + value.toFixed(2);
        });

        new Vue({
            el: '#demo',
            data: {
                menuVisible: false,

                activeColor: 'white',
                index: 0,
                services: [
                    {
                        name: 'Web Development',
                        price: 300,
                        active: false
                    }, {
                        name: 'Design',
                        price: 400,
                        active: false
                    }, {
                        name: 'Integration',
                        price: 250,
                        active: false
                    }, {
                        name: 'Training',
                        price: 220,
                        active: false
                    }
                ],

                searchString: "",
                articles: [],
            },
            methods: {

                toggleActive: function (s) {
                    s.gsx$active.$t = !s.gsx$active.$t;
                },
                total: function () {

                    var total = 0;

                    this.services.forEach(function (s) {
                        if (s.active) {
                            total += s.price;
                        }
                    });

                    return total;
                },

                getJSON: function () {
                    let self = this;
                    let url = 'https://spreadsheets.google.com/feeds/list/1vBaMFyH3DTWyux2Q0iHfYFtbrJyu4gay94Sc-P9v-2k/od6/public/values?alt=json';

                    axios.get(url).then(response => {
                        self.articles = response.data.feed.entry
                    });
                }

            },

            created() {
                this.getJSON();
            },

            computed: {
                filteredArticles: function () {
                    let articles_array = this.articles;
                    let searchString = this.searchString;

                    if (!searchString) {
                        return articles_array;
                    }

                    searchString = searchString.trim().toLowerCase();

                    articles_array = articles_array.filter(function (item) {
                        if (item.gsx$title.$t.toLowerCase().indexOf(searchString) !== -1) {
                            return item;
                        }
                    })

                    // Return an array with the filtered data.
                    return articles_array;
                }
            }

        })
    </script>



    <style>
        [v-cloak] {
            display: none;
        }

        * {
            margin: 0;
            padding: 0;
        }

        .md-app {
            max-height: 800px;
            border: 1px solid rgba(#000, .12);
        }

        div.md-card.md-theme-default.md-with-hover.active {
            background-color: #8ec16d;
        }
    </style>
</body>

</html>